$red1: #ee4540;
$red2: #c72c41;
$red3: #801336;
$dark: #2d132c;
$white: #fff;
$gray1: #e8e8e8;
$gray2: #cccccc;

$font-family1: 'Oxygen', sans-serif;
$font-family2: 'Saira Extra Condensed', sans-serif;
$font-family3: 'Open Sans', sans-serif;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: $font-family1;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}
/* === ASIDE STYLES === */
aside {
  height: 100vh;
  background-color: #c72c41;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    > ul {
      padding: 0;
      margin: 0;
      &:first-child {
        margin-top: 5rem;
      }
      > li {
        list-style: none;
        text-transform: uppercase;
        color: $gray1;
        margin-bottom: 5rem;
        font-size: 1.8rem;
        &:hover {
          cursor: pointer;
          color: $white;
        }
      }
    }
  }
  .asideIconsContainer {
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
    cursor: pointer;
    a {
      color: $gray2;
      text-decoration: none;
      i {
        &:hover {
          color: $white;
        }
      }
    }
  }
}

/* === END ASIDE STYLES === */

/* === MAIN STYLES === */

main {
  margin-left: 20%;
  background-color: $white;
  width: 80%;
}

section {
  border-bottom: 0.1rem solid $gray2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: $font-family2;
  > h1 {
    font-size: 5rem;
    margin: 0 0 5rem 0;
  }
}

/* === ABOUT === */

#about {
  background: $white;
}

.aboutIntroductionContainer {
  height: 75%;
  .title {
    height: 22rem;
    a {
      font-family: $font-family2;
      text-decoration: none;
      color: $dark;
      font-size: 7.5rem;
      text-transform: uppercase;
    }
  }
  p {
    padding-top: 2rem;
    color: #000;
    font-size: 2rem;
    font-family: $font-family3;
  }
}

.aboutIconsContainer {
  height: 25%;
  a {
    text-decoration: none;
    color: $gray2;
    margin: 0 3rem;
    i {
      font-size: 5.5rem;
      color: $dark;
      &:hover {
        color: $red2;
      }
    }
  }
}

/* === END ABOUT === */

/* === SKILLS === */

#skills {
}

.skillsGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 100%;
}

.skillsGridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
    height: 7rem;
    img {
      //width: 30%;
      width: 7rem;
    }
    i {
      font-size: 7rem;
    }
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

/* === END SKILLS === */

/* === PROJECTS === */

#projects {
  height: auto;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
  .projectsImageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 85%;
      cursor: pointer;
    }
    p {
      padding: 0;
      margin-top: 2.5rem;
      font-size: 2.8rem;
      font-family: $font-family2;
      color: $dark;
    }
  }
}

/* === END PROJECTS === */

/* === EXPERIENCE === */

#experience {
  height: 100vh;
}

.experienceContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
  h2,
  h3 {
    text-transform: uppercase;
    font-family: $font-family2;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .experienceContent {
    width: 80%;
  }
  .experienceDate {
    width: 20%;
    text-align: right;
    color: $red2;
    font-family: $font-family3;
  }
}

/* === END EXPERIENCE === */

/* === CONTACT ME === */

.contactFormContainer {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactFormField {
  display: flex;
  width: 80%;
  background: #cd6799;
  padding: 2rem 0;
  //margin-left: 2.5%;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
      height: 4rem;
      border-radius: 0.5rem;
    }
    textarea {
      border-radius: 0.5rem;
      height: 15rem;
    }
  }
  .credentials {
    width: 40%;
  }
  .message {
    width: 100%;
  }
  button {
    width: 15rem;
    height: 4rem;
    cursor: pointer;
  }
}

/* === CONTACT ME === */

/* === END MAIN STYLES === */
