html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/* === ASIDE STYLES === */
aside {
  height: 100vh;
  background-color: #c72c41;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside nav {
  display: flex;
  justify-content: center;
  text-align: center;
}
aside nav > ul {
  padding: 0;
  margin: 0;
}
aside nav > ul:first-child {
  margin-top: 5rem;
}
aside nav > ul > li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-size: 1.8rem;
}
aside nav > ul > li a {
  color: #e8e8e8;
  text-decoration: none;
}
aside nav > ul > li a:hover {
  cursor: pointer;
  color: #fff;
}
aside .asideIconsContainer {
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
  cursor: pointer;
}
aside .asideIconsContainer a {
  color: #cccccc;
  text-decoration: none;
}
aside .asideIconsContainer a i:hover {
  color: #fff;
}

/* === END ASIDE STYLES === */
/* === MAIN STYLES === */
main {
  margin-left: 20%;
  background-color: #fff;
  width: 80%;
}

section {
  border-bottom: 0.1rem solid #cccccc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: "Saira Extra Condensed", sans-serif;
}
.sectionTitle > h1 {
  font-size: 5rem;
  margin: 0 0 5rem 0;
}

/* === ABOUT === */
#about {
  background: #fff;
}

.aboutIntroductionContainer {
  height: 75%;
}
.aboutIntroductionContainer .title {
  height: 22rem;
}
.aboutIntroductionContainer .title a {
  font-family: "Saira Extra Condensed", sans-serif;
  text-decoration: none;
  color: #2d132c;
  font-size: 7.5rem;
  text-transform: uppercase;
}
.aboutIntroductionContainer p {
  padding-top: 2rem;
  color: #000;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.aboutButtonContainer {
  margin-top: 7rem;
  height: 25%;
}
.aboutButtonContainer .aboutButton {
  background-color: #fff;
  border: 0.2rem solid #c72c41;
  color: #c72c41;
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.aboutButtonContainer .aboutButton:hover {
  background-color: #c72c41;
  color: #e8e8e8;
}
.aboutButtonContainer .aboutButton:active, .aboutButtonContainer .aboutButton:focus {
  border: 0.2rem solid #c72c41;
}

/* === END ABOUT === */
/* === SKILLS === */
.skillsGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 100%;
}

.skillsGridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillsGridItem div {
  text-align: center;
  height: 7rem;
}
.skillsGridItem div img {
  width: 7rem;
}
.skillsGridItem div i {
  font-size: 7rem;
}
.skillsGridItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* === END SKILLS === */
/* === PROJECTS === */
#projects {
  height: auto;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
}
.projectsContainer .projectsImageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projectsContainer .projectsImageContainer img {
  width: 85%;
  cursor: pointer;
}
.projectsContainer .projectsImageContainer p {
  padding: 0;
  margin-top: 2.5rem;
  font-size: 2.8rem;
  font-family: "Saira Extra Condensed", sans-serif;
  color: #2d132c;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 10rem;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: #fff;
  margin: auto;
  padding: 2rem;
  border: 0.1rem solid #888;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalContainer {
  display: flex;
  height: 100%;
}
.modalContainer .modalImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.modalContainer .modalImage img {
  width: 90%;
}
.modalContainer .modalImage .petgramImg {
  height: 90%;
  width: 50%;
}
.modalContainer .modalInfoContent {
  width: 40%;
}
.modalContainer .modalInfoContent .modalSkills {
  display: flex;
  flex-wrap: wrap;
}
.modalContainer .modalInfoContent .modalSkills span {
  border: 0.2rem solid #ee4540;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  margin: 0.5rem;
}
.modalContainer .modalInfoContent textarea {
  width: 100%;
  resize: none;
}
.modalContainer .modalButtons {
  margin-top: 2rem;
}
.modalContainer .modalButtons a {
  background: #c72c41;
  border: 0.2rem solid #c72c41;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 0.3rem;
  color: #e8e8e8;
}
.modalContainer .modalButtons a i {
  margin-right: 1rem;
}
.modalContainer .modalButtons a:hover {
  background-color: #801336;
  border: 0.2rem solid #801336;
}

/* === END PROJECTS === */
/* === EXPERIENCE === */
#experience {
  height: auto;
}

.experienceContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
}
.experienceContainer h2,
.experienceContainer h3 {
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
  padding: 0;
  margin: 0;
}
.experienceContainer h2 {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}
.experienceContainer h3 {
  font-size: 2.5rem;
}
.experienceContainer .experienceContent {
  width: 80%;
}
.experienceContainer .experienceDate {
  width: 20%;
  text-align: right;
  color: #c72c41;
  font-family: "Open Sans", sans-serif;
}

/* === END EXPERIENCE === */
/* === TOUCH === */
#touch {
  height: auto;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
}
.linksContainer .linksContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.linksContainer .linksContent span {
  text-align: center;
  padding-bottom: 1rem;
}
.linksContainer .linksContent span i {
  font-size: 7rem;
}
.linksContainer .linksContent a {
  text-decoration: none;
  color: #c72c41;
  word-break: break-word;
}
.linksContainer .linksContent a:hover {
  text-decoration: underline;
}

/* === END TOUCH === */
/* === END FOOTER === */
.footerContainer {
  height: 5rem;
  background: #c72c41;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === END FOOTER === */
/* === END MAIN STYLES === */

/*# sourceMappingURL=styles.css.map */
