html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/* === ASIDE STYLES === */
aside {
  height: 100vh;
  background-color: #c72c41;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside nav {
  display: flex;
  justify-content: center;
  text-align: center;
}
aside nav > ul {
  padding: 0;
  margin: 0;
}
aside nav > ul:first-child {
  margin-top: 5rem;
}
aside nav > ul > li {
  list-style: none;
  text-transform: uppercase;
  color: #e8e8e8;
  margin-bottom: 5rem;
  font-size: 1.8rem;
}
aside nav > ul > li:hover {
  cursor: pointer;
  color: #fff;
}
aside .asideIconsContainer {
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
  cursor: pointer;
}
aside .asideIconsContainer a {
  color: #cccccc;
  text-decoration: none;
}
aside .asideIconsContainer a i:hover {
  color: #fff;
}

/* === END ASIDE STYLES === */
/* === MAIN STYLES === */
main {
  margin-left: 20%;
  background-color: #fff;
  width: 80%;
}

section {
  border-bottom: 0.1rem solid #cccccc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: "Saira Extra Condensed", sans-serif;
}
.sectionTitle > h1 {
  font-size: 5rem;
  margin: 0 0 5rem 0;
}

/* === ABOUT === */
#about {
  background: #fff;
}

.aboutIntroductionContainer {
  height: 75%;
}
.aboutIntroductionContainer .title {
  height: 22rem;
}
.aboutIntroductionContainer .title a {
  font-family: "Saira Extra Condensed", sans-serif;
  text-decoration: none;
  color: #2d132c;
  font-size: 7.5rem;
  text-transform: uppercase;
}
.aboutIntroductionContainer p {
  padding-top: 2rem;
  color: #000;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.aboutIconsContainer {
  height: 25%;
}
.aboutIconsContainer a {
  text-decoration: none;
  color: #cccccc;
  margin: 0 3rem;
}
.aboutIconsContainer a i {
  font-size: 5.5rem;
  color: #2d132c;
}
.aboutIconsContainer a i:hover {
  color: #c72c41;
}

/* === END ABOUT === */
/* === SKILLS === */
.skillsGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 100%;
}

.skillsGridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillsGridItem div {
  text-align: center;
  height: 7rem;
}
.skillsGridItem div img {
  width: 7rem;
}
.skillsGridItem div i {
  font-size: 7rem;
}
.skillsGridItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* === END SKILLS === */
/* === PROJECTS === */
#projects {
  height: auto;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
}
.projectsContainer .projectsImageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projectsContainer .projectsImageContainer img {
  width: 85%;
  cursor: pointer;
}
.projectsContainer .projectsImageContainer p {
  padding: 0;
  margin-top: 2.5rem;
  font-size: 2.8rem;
  font-family: "Saira Extra Condensed", sans-serif;
  color: #2d132c;
}

/* === END PROJECTS === */
/* === EXPERIENCE === */
#experience {
  height: 100vh;
}

.experienceContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5rem;
}
.experienceContainer h2,
.experienceContainer h3 {
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
  padding: 0;
  margin: 0;
}
.experienceContainer h2 {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}
.experienceContainer h3 {
  font-size: 2.5rem;
}
.experienceContainer .experienceContent {
  width: 80%;
}
.experienceContainer .experienceDate {
  width: 20%;
  text-align: right;
  color: #c72c41;
  font-family: "Open Sans", sans-serif;
}

/* === END EXPERIENCE === */
/* === CONTACT ME === */
.contactFormContainer {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactFormField {
  display: flex;
  width: 80%;
  background: #cd6799;
  padding: 2rem 0;
  justify-content: space-between;
}
.contactFormField > div {
  display: flex;
  flex-direction: column;
}
.contactFormField > div label {
  margin-bottom: 1rem;
}
.contactFormField > div input {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
}
.contactFormField > div textarea {
  border-radius: 0.5rem;
  height: 15rem;
}
.contactFormField .credentials {
  width: 40%;
}
.contactFormField .message {
  width: 100%;
}
.contactFormField button {
  width: 15rem;
  height: 4rem;
  cursor: pointer;
}

/* === CONTACT ME === */
/* === END MAIN STYLES === */

/*# sourceMappingURL=styles.css.map */
